{% extends 'base.html' %}

{% block head_title %}
    {{ post.title }} - Post
{% endblock %}

{% block main_area %}

    <div id="post-area">
        {% if post.hashtag %}
            <span class="badge badge-secondary float-right">{{ post.hashtag }}</span>
        {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <h4>{{ post.created_at }}</h4>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="">
        <p>{{ post.content }}</p>
    <hr/>
    </div>

<!--comment-->
<div id="comment-area">
    <h3>댓글 칸</h3>
</div>

<!--작성자-->
<!--<p class="lead">-->
<!--    by-->
<!--    <a href="#">{{ post.author | upper}}</a>-->
<!--</p>-->

{% endblock %}
